body {
    background-color: #E5E5E5;
}

.main_container {
    width: 100%;
    /*Got help here with % instead of px*/
    height: 100vh;
    /* Got help here with vh instead of px*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid_container {
    width: 85%;
    /*Got help here with % instead of px*/
    height: 80%;
    /*Got help here with % instead of px*/
    background-color: white;
    display: grid;
    grid-gap: 24px;
    /* Don't get the gap at the edges of the items using gap. Works with margin, but then the bottom one follow along */
    grid-template-columns: repeat (6, 1fr);
    /* Got help here with the number of fr */
    grid-template-rows: repeat (12, 1fr);
    /* Got help here with the number of fr */
    border: solid black 1px;
}

.item_four {
    background-color: #007F5F;
    grid-area: 1/1/4/3;
}

.item_two {
    background-color: #2B9348;
    grid-area: 4/1/7/3;
}

.item_five {
    background-color: #80B918;
    grid-area: 1 / 3 / 7 / 5;
}

.item_ten {
    background-color: #DDDF00;
    grid-area: 1 / 5 / 3 / 7;
}

.item_eleven {
    background-color: #EEEF20;
    grid-area: 3 / 5 / 5 / 7;
}

.item_twelve {
    background-color: #FFFF3F;
    grid-area: 5 / 5 / 7 / 7;
}

.item_three {
    background-color: #55A630;
    grid-area: 7 / 1 / 11 / 3;
}

.item_six {
    background-color: #AACC00;
    grid-area: 7 / 3 / 9 / 4;
}

.item_seven {
    background-color: #BFD200;
    grid-area: 9 / 3 / 11 / 4;
}

.item_eight {
    background-color: #D4D700;
    grid-area: 7 / 4 / 11 / 6;
}

.item_nine {
    background-color: #007F5F;
    grid-area: 7 / 6 / 11 / 7;
}

.item_one {
    background-color: #9BC1BC;
    grid-area: 11 / 1 / 13 / 7;
}

.text_image {
    position: relative;
    left: 24px;
    top: 34px;
}